# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de PostgreSQL
DB_NAME=kineagenda_db
DB_USER=tu_usuario_postgres
DB_PASSWORD=tu_password_postgres
DB_HOST=localhost
DB_PORT=5432
DB_DIALECT=postgres